.contact__container{
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 50rem;
    box-shadow: 0px 0px 25px -10px rgb(0 0 0);
    border-radius: 10px;
}

.contact__title{
    color: #10069f;
    padding-top: 2rem;
}

.contact__form{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__input__container{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}
.input__title{
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    margin: .5rem 0rem;
    color: #10069f;
}

.form__input{
    padding: 1rem 1rem;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.137);
    box-shadow: 0px 0px 25px -12px rgb(0 0 0);
    color: black;
}::placeholder{
    color: #090542;
}

.form__submit{
    margin: 1rem 0rem;
    background-color: #10069f;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 2.5rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}